body{
margin: 0;
padding: 0;
}
.card{
    display: flex;
    justify-content: space-between;
    width: 49%;
    background-color: rgb(218, 210, 201);
    margin-top: 3%;
    color:rgba(29, 28, 25, 0.849);
    margin-left: 370px;
    border-radius: 15%;
    border: 8px solid rgba(109, 105, 93, 0.849);
    border-radius: 6px;
}
.active{
    display: flex;
    justify-content: space-between;
    width: 49%;
    background-color: rgb(65, 82, 70);
    margin-top: 3%;
    margin-left: 370px;
    border-radius: 15%;
    border: 8px solid rgba(109, 105, 93, 0.849);
    border-radius: 3px;
}